{% extends 'main/pages.html' %}
{% load static %}

{% block main_content %}
    {% for restaurant in restaurants %}
        {% if forloop.counter|divisibleby:"2"  %}
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container" style="background-color: #877a2617;">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{{ restaurant.photo1.url }}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{{ restaurant.photo2.url }}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{{ restaurant.photo3.url }}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{{ restaurant.photo4.url }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal">Добре дошли в</h4>
                        <h1 class="mb-4">{{ restaurant.name }}</h1>
                        <p class="mb-4">{{ restaurant.text1 }}</p>
                        <p class="mb-4">{{ restaurant.text2 }}</p>
                        <p class="mb-4">Брой предлагани места: {{ restaurant.places }}</p>
                        <a class="btn btn-primary py-3 px-5 mt-2" href="restaurant/{{ restaurant.id }}">Вижте повече</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        {% else %}
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container" style="background-color: #877a2617;">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal">Добре дошли в</h4>
                        <h1 class="mb-4">{{ restaurant.name }}</h1>
                        <p class="mb-4">{{ restaurant.text1 }}</p>
                        <p class="mb-4">{{ restaurant.text2 }}</p>
                        <p class="mb-4">Брой предлагани места: {{ restaurant.places }}</p>
                        <a class="btn btn-primary py-3 px-5 mt-2" href="restaurant/{{ restaurant.id }}">Вижте повече</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{{ restaurant.photo1.url }}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{{ restaurant.photo2.url }}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{{ restaurant.photo3.url }}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{{ restaurant.photo4.url }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        {% endif %}
    {% endfor %}

{% endblock %}
