{% extends 'main/pages.html' %}
{% load static %}

{% block main_content %}
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{{ restaurant.photo1.url }}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{{ restaurant.photo2.url }}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{{ restaurant.photo3.url }}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{{ restaurant.photo4.url }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal">Добре дошли в</h4>
                        <h1 class="mb-4">{{ restaurant.name }}</h1>
                        <p class="mb-4">{{ restaurant.text1 }}</p>
                        <p class="mb-4">{{ restaurant.text2 }}</p>
                        <p class="mb-4">Брой предлагани места: {{ restaurant.places }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
{% if show_menu %}
        <!-- Menu Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">МЕНЮ</h5>
                    <h1 class="mb-5">Нашите специалитети</h1>
                </div>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        {% for item in rest_menu %}
                        <li class="nav-item">
                            {% if forloop.counter == 1 %}
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                               href="#tab-{{ forloop.counter }}">
                                <div class="ps-3">
                                    <h6 class="mt-n1 mb-0">{{ item.name }}</h6>
                                </div>
                            </a>
                            {% else %}
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3" data-bs-toggle="pill"
                               href="#tab-{{ forloop.counter }}">
                                <div class="ps-3">
                                    <h6 class="mt-n1 mb-0">{{ item.name }}</h6>
                                </div>
                            </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for item in rest_menu %}
                        {% if forloop.counter == 1 %}
                        <div id="tab-{{ forloop.counter }}" class="tab-pane fade show p-0 active">
                        {% else %}
                        <div id="tab-{{ forloop.counter }}" class="tab-pane fade show p-0">
                        {% endif %}
                            <div class="row g-4">
                                {% for it in item.items %}
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" src="{{ it.photo.url }}" style="width: 80px;">
                                        <div class="w-100 d-flex flex-column text-start ps-4">
                                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                                <span>{{ it.name }}</span>
                                                <span class="text-primary">{{ it.price }} лв.</span>
                                            </h5>
                                            <small class="fst-italic">{{ it.description}}</small>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
{% endif %}
        <!-- Reservation Start -->
        <div id="frm" class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-md-2">
                </div>
                <div class="col-md-8 bg-secondary d-flex align-items-center">
                    <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">Резервация</h5>
                        {% if mode == 'отказана' %}
                        <h1 class="mb-4" style="color: red">Заявката е отхвърлена</h1>
                        <p class="text-white mb-4" >Заявката е отхвърлена - няма свободни места</p>
                        {% elif mode == 'приета' %}
                        <h1 class="mb-4" style="color: #09f109;">Заявката е приета.</h1>
                        {% else %}
                        <h1 class="text-white mb-4">Запазете маса онлаин</h1>
                        {% endif %}
                        {% if mode != 'приета' %}
                        <form action="{% url 'rest' restaurant.id %}#frm" method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        {{ form.ap_name }}
                                        <label for="{{ form.ap_name.id_for_label }}">{{ form.ap_name.label }}</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        {{ form.ap_email }}
                                        <label for="{{ form.ap_email.id_for_label }}">{{ form.ap_email.label }}</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        {{ form.ap_phone }}
                                        <label for="{{ form.ap_phone.id_for_label }}">{{ form.ap_phone.label }}</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating date" id="date3" data-target-input="nearest">
                                        {{ form.ap_date }}
                                        <label for="{{ form.ap_date.id_for_label }}">{{ form.ap_date.label }}</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        {{ form.ap_hour }}
                                        <label for="{{ form.ap_hour.id_for_label }}">{{ form.ap_hour.label }}</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        {{ form.ap_places }}
                                        <label for="{{ form.ap_places.id_for_label }}">{{ form.ap_places.label }}</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        {{ form.msg }}
                                        <label for="{{ form.msg.id_for_label }}">{{ form.msg.label }}</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Резервирайте</button>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Reservation End -->

{% endblock %}}